.row {
    margin: 40px auto;
}

#rectangle {
    width: 150px;
    height: 0;
    margin: 0 auto;
    border: 0 solid #004d4d;
}

#hint {
    display: none;
    background-color: #f2dede;
}

#par_counter {
    margin-top: 10px;
}

/* * {
    border: 1px solid red;
} */
